---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
---

<Layout title="Welcome to Astro.">
	<Container>
		<h1 class="text-heading text-5xl">Hello, World!</h1>
	</Container>
</Layout>

