---
// Supports weights 100-900
import '@fontsource-variable/onest';

// Supports weights 400-700
import '@fontsource-variable/arimo';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="GIMP é um editor de imagens multiplataforma disponível para GNU/Linux, macOS, Windows e mais sistemas operacionais" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} - Editor de imagens multiplataforma</title>
	</head>
	<body class="bg-zinc-200 text-zinc-500">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	
	html {
		scroll-behavior: smooth;
		-webkit-font-smoothing:antialiased;
		font-family: 'Arimo Variable', sans-serif;
	}

	body{
		font-size: 16px;
	}

	.text-heading {
		font-family: 'Onest Variable', sans-serif;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
