---
interface Props{
    href: string
}

const { href } = Astro.props

---

<a class="px-8 py-4 border border-zinc-500 hover:bg-zinc-100 transition-all text-zinc-500 rounded-md inline-block h-14 font-semibold" href={href}>
    <slot />
</a>