---
interface Props{
    href: string
}

const { href } = Astro.props

---

<a class="px-8 py-4 bg-zinc-800 text-white hover:bg-zinc-800/90 transition-all rounded-md inline-block h-14 text-base font-bold" href={href}>
    <slot />
</a>